<div class="container" style="display: flex">
  <div class="title" style="font-size: 38px; display: inline-list-item">
    Events in
  </div>

  <div class="dropdown">
    <a class="nav-link dropdown-toggle" style="font-size: 38px; margin-top: -8px; color: tomato" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
      Almaty
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Astana</a></li>
      <li><a class="dropdown-item" href="#">Karaganda</a></li>
      <li><a class="dropdown-item" href="#">Satpaev</a></li>
      <li><a class="dropdown-item" href="#">Zhezkazgan</a></li>
    </ul>
  </div>
</div>