<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
<link rel="stylesheet" type="text/css" th:href="@{'/css/homec.css'}">
<link rel="stylesheet" type="text/css" th:href="@{'/css/lightslider.css'}">
<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dropdowns/">
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
<script type="text/javascript" th:src="@{'/js/jquery-3.6.3.min.js'}"></script>
<script type="text/javascript" th:src="@{'/js/lightslider.js'}"></script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>