<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{head.html}">
</head>
<body>

    <div class="container" th:insert="~{navbar.html}"></div>

    <div class="container">
        <h1>SECURITY SAMPLE</h1>
        <h2>WELCOME TO <strong>PROFILE</strong> PAGE</h2>
        <h2>DEAR <span th:text="${#authentication.getPrincipal().fullName}"></span> </h2>
        <br>
        <br>
        <form th:action="@{'/updatepassword'}" method="post">
            OLD PASSWORD : <input class="w-25 form-control" type="password" name="old_password">
            PASSWORD : <input class="w-25 form-control" type="password" name="new_password">
            RETYPE NEW PASSWORD : <input class="w-25 form-control" type="password" name="re_new_password">
            <br>
            <button class="btn btn-outline-dark">CHANGE</button>
        </form>
        <br>
        <br>
    <!--    <img th:src="@{ '/viewpic/' + ${#authentication.getPrincipal().avatar}}" width="300px">-->
    <!--    <form th:action="@{'/uploadavatar'}" method="post" enctype="multipart/form-data">-->
    <!--        <input type="file" name="avatar_pic">-->
    <!--        <button>UPLOAD</button>-->
    <!--    </form>-->
    </div>

</body>
</html>